In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

### 创建一个Series ，同时让pandas自动生成索引列

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
# 查看s
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### 创建一个DataFrame数据框

In [5]:
### 创建一个DataFrame ，可以传入一个numpy array 可以自己构建索引以及列标
dates = pd.date_range('2018-11-01',periods=7)
#### 比如说生成一个时间序列，以20181101 为起始位置的，7个日期组成的时间序列，数据的类型为datetime64[ns]

In [6]:
dates

DatetimeIndex(['2018-11-01', '2018-11-02', '2018-11-03', '2018-11-04',
               '2018-11-05', '2018-11-06', '2018-11-07'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(7,4),index= dates,columns=list('ABCD'))
df
# 产生随机正态分布的数据，7行4列，分别对应的index的长度以及column的长度

                   A         B         C         D
2018-11-01  1.048139 -1.458569  0.338401 -0.456363
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104
2018-11-03  0.038716  1.018482 -0.083829 -0.193916
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293
2018-11-06 -1.857481 -0.769062  1.194004 -0.042794
2018-11-07 -0.469397  0.002246  0.003750  1.602875

In [8]:
### 同时用可以使用dict的实行创建DataFrame
df2 = pd.DataFrame({"A":1,
                   "B":"20181101",
                   'C':np.array([3]*4,dtype='int32'),
                   'D':pd.Categorical(['test','train','test','train']),
                   "E":1.5},
                  )
df2

   A         B  C      D    E
0  1  20181101  3   test  1.5
1  1  20181101  3  train  1.5
2  1  20181101  3   test  1.5
3  1  20181101  3  train  1.5

In [9]:
df2.dtypes
### 查看数据框中的数据类型,常见的数据类型还有时间类型以及float类型

A       int64
B      object
C       int32
D    category
E     float64
dtype: object

### 查看数据

In [10]:

# 比如说看前5行
df.head()

                   A         B         C         D
2018-11-01  1.048139 -1.458569  0.338401 -0.456363
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104
2018-11-03  0.038716  1.018482 -0.083829 -0.193916
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293

In [11]:
# 后4行
df.tail(4)

                   A         B         C         D
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293
2018-11-06 -1.857481 -0.769062  1.194004 -0.042794
2018-11-07 -0.469397  0.002246  0.003750  1.602875

In [12]:
# 查看DataFrame的索引
df.index

DatetimeIndex(['2018-11-01', '2018-11-02', '2018-11-03', '2018-11-04',
               '2018-11-05', '2018-11-06', '2018-11-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
# 查看DataFrame的列索引
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
# 查看DataFrame的数据,将DataFrame转化为numpy array 的数据形式
df.values

array([[ 1.04813927, -1.45856944,  0.33840097, -0.45636304],
       [ 0.5615638 , -0.74623086, -0.20233207, -0.56310425],
       [ 0.03871598,  1.01848186, -0.08382853, -0.19391632],
       [-1.92065886,  0.22751262, -1.23850509, -0.35694711],
       [-0.482242  ,  1.29720226, -0.30976464, -0.86429258],
       [-1.85748082, -0.76906174,  1.19400435, -0.04279447],
       [-0.46939741,  0.00224576,  0.00375016,  1.60287521]])

### 数据的简单统计

In [15]:
# 可以使用describe函数对DataFrame中的数值型数据进行统计
df.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean  -0.440194 -0.061203 -0.042611 -0.124935
std    1.129241  1.001776  0.730899  0.806138
min   -1.920659 -1.458569 -1.238505 -0.864293
25%   -1.169861 -0.757646 -0.256048 -0.509734
50%   -0.469397  0.002246 -0.083829 -0.356947
75%    0.300140  0.622997  0.171076 -0.118355
max    1.048139  1.297202  1.194004  1.602875

In [16]:
df2.describe()
### 对于其他的数据类型的数据describe函数会自动过滤掉

         A    C    E
count  4.0  4.0  4.0
mean   1.0  3.0  1.5
std    0.0  0.0  0.0
min    1.0  3.0  1.5
25%    1.0  3.0  1.5
50%    1.0  3.0  1.5
75%    1.0  3.0  1.5
max    1.0  3.0  1.5

In [17]:
### DataFrame 的转置，将列索引与行索引进行调换，行数据与列数进行调换
df.T

,2018-11-01 00:00:00,2018-11-02 00:00:00,2018-11-03 00:00:00,2018-11-04 00:00:00,2018-11-05 00:00:00,2018-11-06 00:00:00,2018-11-07 00:00:00
A,1.048139,0.561564,0.038716,-1.920659,-0.482242,-1.857481,-0.469397
B,-1.458569,-0.746231,1.018482,0.227513,1.297202,-0.769062,0.002246
C,0.338401,-0.202332,-0.083829,-1.238505,-0.309765,1.194004,0.003750
D,-0.456363,-0.563104,-0.193916,-0.356947,-0.864293,-0.042794,1.602875

In [18]:
df

                   A         B         C         D
2018-11-01  1.048139 -1.458569  0.338401 -0.456363
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104
2018-11-03  0.038716  1.018482 -0.083829 -0.193916
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293
2018-11-06 -1.857481 -0.769062  1.194004 -0.042794
2018-11-07 -0.469397  0.002246  0.003750  1.602875

### 数据的排序

In [19]:
df.sort_index(ascending=False)
### 降序，按照列进行降序，通过该索引列

                   A         B         C         D
2018-11-07 -0.469397  0.002246  0.003750  1.602875
2018-11-06 -1.857481 -0.769062  1.194004 -0.042794
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947
2018-11-03  0.038716  1.018482 -0.083829 -0.193916
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104
2018-11-01  1.048139 -1.458569  0.338401 -0.456363

In [20]:

print(df.sort_values(by=['B','A']))
#  默认是升序,可以选择多指排序，先照B，后排A，如果B中的数据一样，则按照A中的大小进行排序
df.sort_values(by='B')

                   A         B         C         D
2018-11-01  1.048139 -1.458569  0.338401 -0.456363
2018-11-06 -1.857481 -0.769062  1.194004 -0.042794
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104
2018-11-07 -0.469397  0.002246  0.003750  1.602875
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947
2018-11-03  0.038716  1.018482 -0.083829 -0.193916
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293

                   A         B         C         D
2018-11-01  1.048139 -1.458569  0.338401 -0.456363
2018-11-06 -1.857481 -0.769062  1.194004 -0.042794
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104
2018-11-07 -0.469397  0.002246  0.003750  1.602875
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947
2018-11-03  0.038716  1.018482 -0.083829 -0.193916
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293

### 选择数据（类似于数据库中sql语句）

In [21]:
df['A']
# 取出单独的一列数据，等价于df.A

2018-11-01    1.048139
2018-11-02    0.561564
2018-11-03    0.038716
2018-11-04   -1.920659
2018-11-05   -0.482242
2018-11-06   -1.857481
2018-11-07   -0.469397
Freq: D, Name: A, dtype: float64

In [22]:
# 通过[]进行行选择切片
df[0:3]

                   A         B         C         D
2018-11-01  1.048139 -1.458569  0.338401 -0.456363
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104
2018-11-03  0.038716  1.018482 -0.083829 -0.193916

In [23]:
# 同时对于时间索引而言，可以直接使用比如
df['2018-11-01':'2018-11-04']

                   A         B         C         D
2018-11-01  1.048139 -1.458569  0.338401 -0.456363
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104
2018-11-03  0.038716  1.018482 -0.083829 -0.193916
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947

#### 另外可以使用标签来选择

In [25]:

df.loc['2018-11-01']

A    1.048139
B   -1.458569
C    0.338401
D   -0.456363
Name: 2018-11-01 00:00:00, dtype: float64

In [26]:
#### 通过标签来进行多个轴上的进行选择
df.loc[:,["A","B"]] # 等价于df[["A","B"]]

                   A         B
2018-11-01  1.048139 -1.458569
2018-11-02  0.561564 -0.746231
2018-11-03  0.038716  1.018482
2018-11-04 -1.920659  0.227513
2018-11-05 -0.482242  1.297202
2018-11-06 -1.857481 -0.769062
2018-11-07 -0.469397  0.002246

In [28]:
df.loc["2018-11-01":"2018-11-03",["A","B"]]

                   A         B
2018-11-01  1.048139 -1.458569
2018-11-02  0.561564 -0.746231
2018-11-03  0.038716  1.018482

In [29]:
#### 获得一个标量数据
df.loc['2018-11-01','A']

1.0481392655596899

#### 通过位置获取数据

In [30]:
df.iloc[3]  # 获得第四行的数据

A   -1.920659
B    0.227513
C   -1.238505
D   -0.356947
Name: 2018-11-04 00:00:00, dtype: float64

In [35]:
df.iloc[1:3,1:4]  #  与numpy中的ndarray类似

                   B         C         D
2018-11-02 -0.746231 -0.202332 -0.563104
2018-11-03  1.018482 -0.083829 -0.193916

In [36]:
# 可以选取不连续的行或者列进行取值
df.iloc[[1,3],[1,3]]

                   B         D
2018-11-02 -0.746231 -0.563104
2018-11-04  0.227513 -0.356947

In [38]:
#  对行进行切片处理
df.iloc[1:3,:]

                   A         B         C         D
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104
2018-11-03  0.038716  1.018482 -0.083829 -0.193916

In [39]:
# 对列进行切片
df.iloc[:,1:4]

                   B         C         D
2018-11-01 -1.458569  0.338401 -0.456363
2018-11-02 -0.746231 -0.202332 -0.563104
2018-11-03  1.018482 -0.083829 -0.193916
2018-11-04  0.227513 -1.238505 -0.356947
2018-11-05  1.297202 -0.309765 -0.864293
2018-11-06 -0.769062  1.194004 -0.042794
2018-11-07  0.002246  0.003750  1.602875

In [40]:
# 获取特定的值
df.iloc[1,3]

-0.56310424641870838

#### 布尔值索引

In [41]:
# 使用单列的数据作为条件进行筛选
df[df.A>0]

                   A         B         C         D
2018-11-01  1.048139 -1.458569  0.338401 -0.456363
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104
2018-11-03  0.038716  1.018482 -0.083829 -0.193916

In [42]:
 #很少用到，很少使用这种大范围的条件进行筛选
df[df>0]

                   A         B         C         D
2018-11-01  1.048139       NaN  0.338401       NaN
2018-11-02  0.561564       NaN       NaN       NaN
2018-11-03  0.038716  1.018482       NaN       NaN
2018-11-04       NaN  0.227513       NaN       NaN
2018-11-05       NaN  1.297202       NaN       NaN
2018-11-06       NaN       NaN  1.194004       NaN
2018-11-07       NaN  0.002246  0.003750  1.602875

In [46]:
# 使用isin()方法过滤
df2.head()

   A         B  C      D    E
0  1  20181101  3   test  1.5
1  1  20181101  3  train  1.5
2  1  20181101  3   test  1.5
3  1  20181101  3  train  1.5

In [49]:
df2[df2['D'].isin(['test'])]

   A         B  C     D    E
0  1  20181101  3  test  1.5
2  1  20181101  3  test  1.5

#### 设定数值（类似于sql update 或者add）

- 设定一个新的列

In [57]:
df['E'] = [1,2,3,4,5,6,7]

In [58]:
df

                   A         B         C         D  E
2018-11-01  1.048139 -1.458569  0.338401 -0.456363  1
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104  2
2018-11-03  0.038716  1.018482 -0.083829 -0.193916  3
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947  4
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293  5
2018-11-06 -1.857481 -0.769062  1.194004 -0.042794  6
2018-11-07 -0.469397  0.002246  0.003750  1.602875  7

- 通过标签设定新的值

In [59]:
df.loc['2018-11-01','E']= 10  # 第一行，E列的数据修改为10

In [60]:
df

                   A         B         C         D   E
2018-11-01  1.048139 -1.458569  0.338401 -0.456363  10
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104   2
2018-11-03  0.038716  1.018482 -0.083829 -0.193916   3
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947   4
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293   5
2018-11-06 -1.857481 -0.769062  1.194004 -0.042794   6
2018-11-07 -0.469397  0.002246  0.003750  1.602875   7

In [61]:
df.iloc[1,4]=5000  # 第二行第五列数据修改为5000

In [62]:
df

                   A         B         C         D     E
2018-11-01  1.048139 -1.458569  0.338401 -0.456363    10
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104  5000
2018-11-03  0.038716  1.018482 -0.083829 -0.193916     3
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947     4
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293     5
2018-11-06 -1.857481 -0.769062  1.194004 -0.042794     6
2018-11-07 -0.469397  0.002246  0.003750  1.602875     7

In [63]:
df3 =df.copy()
df3[df3<0]= -df3
df3  # 都变成非负数

                   A         B         C         D     E
2018-11-01  1.048139  1.458569  0.338401  0.456363    10
2018-11-02  0.561564  0.746231  0.202332  0.563104  5000
2018-11-03  0.038716  1.018482  0.083829  0.193916     3
2018-11-04  1.920659  0.227513  1.238505  0.356947     4
2018-11-05  0.482242  1.297202  0.309765  0.864293     5
2018-11-06  1.857481  0.769062  1.194004  0.042794     6
2018-11-07  0.469397  0.002246  0.003750  1.602875     7

#### 四. 缺失值处理

In [64]:
df

                   A         B         C         D     E
2018-11-01  1.048139 -1.458569  0.338401 -0.456363    10
2018-11-02  0.561564 -0.746231 -0.202332 -0.563104  5000
2018-11-03  0.038716  1.018482 -0.083829 -0.193916     3
2018-11-04 -1.920659  0.227513 -1.238505 -0.356947     4
2018-11-05 -0.482242  1.297202 -0.309765 -0.864293     5
2018-11-06 -1.857481 -0.769062  1.194004 -0.042794     6
2018-11-07 -0.469397  0.002246  0.003750  1.602875     7

In [80]:
df['E']=[1,np.nan,2,np.nan,4,np.nan,6]

In [82]:
df.loc['2018-11-01':'2018-11-03','D']=np.nan

In [84]:
df

                   A         B         C    D    E
2018-11-01  1.048139 -1.458569  0.338401  NaN  1.0
2018-11-02  0.561564 -0.746231 -0.202332  NaN  NaN
2018-11-03  0.038716  1.018482 -0.083829  NaN  2.0
2018-11-04 -1.920659  0.227513 -1.238505  4.0  NaN
2018-11-05 -0.482242  1.297202 -0.309765  5.0  4.0
2018-11-06 -1.857481 -0.769062  1.194004  6.0  NaN
2018-11-07 -0.469397  0.002246  0.003750  7.0  6.0

- 去掉缺失值的行

In [85]:
df4 = df.copy()

In [86]:
df4.dropna(how='any')

                   A         B         C    D    E
2018-11-05 -0.482242  1.297202 -0.309765  5.0  4.0
2018-11-07 -0.469397  0.002246  0.003750  7.0  6.0

In [89]:
df4.dropna(how='all')
# """DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)""" 
# aixs 轴0或者1 index或者columns
# how 方式
# thresh 超过阈值个数的缺失值
# subset 那些字段的处理
# inplace 是否直接在原数据框中的替换

                   A         B         C    D    E
2018-11-01  1.048139 -1.458569  0.338401  NaN  1.0
2018-11-02  0.561564 -0.746231 -0.202332  NaN  NaN
2018-11-03  0.038716  1.018482 -0.083829  NaN  2.0
2018-11-04 -1.920659  0.227513 -1.238505  4.0  NaN
2018-11-05 -0.482242  1.297202 -0.309765  5.0  4.0
2018-11-06 -1.857481 -0.769062  1.194004  6.0  NaN
2018-11-07 -0.469397  0.002246  0.003750  7.0  6.0

- 对缺失值就行填充

In [90]:
df4.fillna(1000)

                   A         B         C       D       E
2018-11-01  1.048139 -1.458569  0.338401  1000.0     1.0
2018-11-02  0.561564 -0.746231 -0.202332  1000.0  1000.0
2018-11-03  0.038716  1.018482 -0.083829  1000.0     2.0
2018-11-04 -1.920659  0.227513 -1.238505     4.0  1000.0
2018-11-05 -0.482242  1.297202 -0.309765     5.0     4.0
2018-11-06 -1.857481 -0.769062  1.194004     6.0  1000.0
2018-11-07 -0.469397  0.002246  0.003750     7.0     6.0

- 对数据进行布尔值进行填充

In [92]:
pd.isnull(df4)

                A      B      C      D      E
2018-11-01  False  False  False   True  False
2018-11-02  False  False  False   True   True
2018-11-03  False  False  False   True  False
2018-11-04  False  False  False  False   True
2018-11-05  False  False  False  False  False
2018-11-06  False  False  False  False   True
2018-11-07  False  False  False  False  False

#### 五. 数据操作

In [93]:
#统计的工作一般情况下都不包含缺失值，
df4.mean() 
#  默认是对列进行求平均，沿着行方向也就是axis=0

A   -0.440194
B   -0.061203
C   -0.042611
D    5.500000
E    3.250000
dtype: float64

In [94]:
df4.mean(axis=1)
#  沿着列方向求每行的平均

2018-11-01    0.231993
2018-11-02   -0.129000
2018-11-03    0.743342
2018-11-04    0.267087
2018-11-05    1.901039
2018-11-06    1.141865
2018-11-07    2.507320
Freq: D, dtype: float64

In [95]:
 # 对于拥有不同维度，需要对齐的对象进行操作。Pandas会自动的沿着指定的维度进行广播：
s = pd.Series([1,3,4,np.nan,6,7,8],index=dates)
s

2018-11-01    1.0
2018-11-02    3.0
2018-11-03    4.0
2018-11-04    NaN
2018-11-05    6.0
2018-11-06    7.0
2018-11-07    8.0
Freq: D, dtype: float64

In [96]:
df4.sub(s,axis='index')

                   A         B         C    D    E
2018-11-01  0.048139 -2.458569 -0.661599  NaN  0.0
2018-11-02 -2.438436 -3.746231 -3.202332  NaN  NaN
2018-11-03 -3.961284 -2.981518 -4.083829  NaN -2.0
2018-11-04       NaN       NaN       NaN  NaN  NaN
2018-11-05 -6.482242 -4.702798 -6.309765 -1.0 -2.0
2018-11-06 -8.857481 -7.769062 -5.805996 -1.0  NaN
2018-11-07 -8.469397 -7.997754 -7.996250 -1.0 -2.0

In [97]:
df4

                   A         B         C    D    E
2018-11-01  1.048139 -1.458569  0.338401  NaN  1.0
2018-11-02  0.561564 -0.746231 -0.202332  NaN  NaN
2018-11-03  0.038716  1.018482 -0.083829  NaN  2.0
2018-11-04 -1.920659  0.227513 -1.238505  4.0  NaN
2018-11-05 -0.482242  1.297202 -0.309765  5.0  4.0
2018-11-06 -1.857481 -0.769062  1.194004  6.0  NaN
2018-11-07 -0.469397  0.002246  0.003750  7.0  6.0

In [98]:
df4.apply(np.cumsum)

                   A         B         C     D     E
2018-11-01  1.048139 -1.458569  0.338401   NaN   1.0
2018-11-02  1.609703 -2.204800  0.136069   NaN   NaN
2018-11-03  1.648419 -1.186318  0.052240   NaN   3.0
2018-11-04 -0.272240 -0.958806 -1.186265   4.0   NaN
2018-11-05 -0.754482  0.338396 -1.496029   9.0   7.0
2018-11-06 -2.611963 -0.430665 -0.302025  15.0   NaN
2018-11-07 -3.081360 -0.428420 -0.298275  22.0  13.0

In [99]:
df4.apply(lambda x: x.max()-x.min())

A    2.968798
B    2.755772
C    2.432509
D    3.000000
E    5.000000
dtype: float64