In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

### 创建一个Series ，同时让pandas自动生成索引列

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
# 查看s
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### 创建一个DataFrame数据框

In [5]:
### 创建一个DataFrame ，可以传入一个numpy array 可以自己构建索引以及列标
dates = pd.date_range('2018-11-01',periods=7)
#### 比如说生成一个时间序列，以20181101 为起始位置的，7个日期组成的时间序列，数据的类型为datetime64[ns]

In [6]:
dates

DatetimeIndex(['2018-11-01', '2018-11-02', '2018-11-03', '2018-11-04',
               '2018-11-05', '2018-11-06', '2018-11-07'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(7,4),index= dates,columns=list('ABCD'))
df
# 产生随机正态分布的数据，7行4列，分别对应的index的长度以及column的长度

                   A         B         C         D
2018-11-01  1.119906  0.501445  0.658371 -1.919401
2018-11-02 -0.210060  0.358103 -0.799528  0.821414
2018-11-03  1.076412 -0.116761  0.961088 -0.109604
2018-11-04 -0.283314 -0.455867  0.930338  0.294843
2018-11-05  0.924924  0.310615 -0.664699 -2.410030
2018-11-06  1.133816  0.846917 -1.557681 -0.007972
2018-11-07  1.190136 -0.172966 -1.958245 -0.876356

In [18]:
### 同时用可以使用dict的实行创建DataFrame
df2 = pd.DataFrame({"A":1,
                   "B":"20181101",
                   'C':np.array([3]*4,dtype='int32'),
                   'D':pd.Categorical(['test','train','test','train']),
                   "E":1.5},
                  )
df2

   A         B  C      D    E
0  1  20181101  3   test  1.5
1  1  20181101  3  train  1.5
2  1  20181101  3   test  1.5
3  1  20181101  3  train  1.5

In [19]:
df2.dtypes
### 查看数据框中的数据类型,常见的数据类型还有时间类型以及float类型

A       int64
B      object
C       int32
D    category
E     float64
dtype: object

### 查看数据

In [20]:

# 比如说看前5行
df.head()

                   A         B         C         D
2018-11-01  1.119906  0.501445  0.658371 -1.919401
2018-11-02 -0.210060  0.358103 -0.799528  0.821414
2018-11-03  1.076412 -0.116761  0.961088 -0.109604
2018-11-04 -0.283314 -0.455867  0.930338  0.294843
2018-11-05  0.924924  0.310615 -0.664699 -2.410030

In [22]:
# 后4行
df.tail(4)

                   A         B         C         D
2018-11-04 -0.283314 -0.455867  0.930338  0.294843
2018-11-05  0.924924  0.310615 -0.664699 -2.410030
2018-11-06  1.133816  0.846917 -1.557681 -0.007972
2018-11-07  1.190136 -0.172966 -1.958245 -0.876356

In [23]:
# 查看DataFrame的索引
df.index

DatetimeIndex(['2018-11-01', '2018-11-02', '2018-11-03', '2018-11-04',
               '2018-11-05', '2018-11-06', '2018-11-07'],
              dtype='datetime64[ns]', freq='D')

In [24]:
# 查看DataFrame的列索引
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [25]:
# 查看DataFrame的数据,将DataFrame转化为numpy array 的数据形式
df.values

array([[ 1.11990612,  0.50144514,  0.65837091, -1.91940065],
       [-0.21006048,  0.3581029 , -0.79952778,  0.82141439],
       [ 1.07641189, -0.11676116,  0.96108784, -0.1096043 ],
       [-0.28331373, -0.455867  ,  0.93033759,  0.29484335],
       [ 0.92492357,  0.31061543, -0.6646993 , -2.41003031],
       [ 1.13381643,  0.84691711, -1.55768149, -0.00797157],
       [ 1.19013584, -0.17296553, -1.95824488, -0.87635606]])

### 数据的简单统计

In [26]:
# 可以使用describe函数对DataFrame中的数值型数据进行统计
df.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean   0.707403  0.181641 -0.347194 -0.601015
std    0.657237  0.449786  1.205614  1.190626
min   -0.283314 -0.455867 -1.958245 -2.410030
25%    0.357432 -0.144863 -1.178605 -1.397878
50%    1.076412  0.310615 -0.664699 -0.109604
75%    1.126861  0.429774  0.794354  0.143436
max    1.190136  0.846917  0.961088  0.821414

In [27]:
df2.describe()
### 对于其他的数据类型的数据describe函数会自动过滤掉

         A    C    E
count  4.0  4.0  4.0
mean   1.0  3.0  1.5
std    0.0  0.0  0.0
min    1.0  3.0  1.5
25%    1.0  3.0  1.5
50%    1.0  3.0  1.5
75%    1.0  3.0  1.5
max    1.0  3.0  1.5

In [28]:
### DataFrame 的转置，将列索引与行索引进行调换，行数据与列数进行调换
df.T

,2018-11-01 00:00:00,2018-11-02 00:00:00,2018-11-03 00:00:00,2018-11-04 00:00:00,2018-11-05 00:00:00,2018-11-06 00:00:00,2018-11-07 00:00:00
A,1.119906,-0.210060,1.076412,-0.283314,0.924924,1.133816,1.190136
B,0.501445,0.358103,-0.116761,-0.455867,0.310615,0.846917,-0.172966
C,0.658371,-0.799528,0.961088,0.930338,-0.664699,-1.557681,-1.958245
D,-1.919401,0.821414,-0.109604,0.294843,-2.410030,-0.007972,-0.876356

In [29]:
df

                   A         B         C         D
2018-11-01  1.119906  0.501445  0.658371 -1.919401
2018-11-02 -0.210060  0.358103 -0.799528  0.821414
2018-11-03  1.076412 -0.116761  0.961088 -0.109604
2018-11-04 -0.283314 -0.455867  0.930338  0.294843
2018-11-05  0.924924  0.310615 -0.664699 -2.410030
2018-11-06  1.133816  0.846917 -1.557681 -0.007972
2018-11-07  1.190136 -0.172966 -1.958245 -0.876356

### 数据的排序

In [33]:
df.sort_index(ascending=False)
### 降序，按照列进行降序，通过该索引列

                   A         B         C         D
2018-11-07  1.190136 -0.172966 -1.958245 -0.876356
2018-11-06  1.133816  0.846917 -1.557681 -0.007972
2018-11-05  0.924924  0.310615 -0.664699 -2.410030
2018-11-04 -0.283314 -0.455867  0.930338  0.294843
2018-11-03  1.076412 -0.116761  0.961088 -0.109604
2018-11-02 -0.210060  0.358103 -0.799528  0.821414
2018-11-01  1.119906  0.501445  0.658371 -1.919401

In [36]:

print(df.sort_values(by=['B','A']))
#  默认是升序,可以选择多指排序，先照B，后排A，如果B中的数据一样，则按照A中的大小进行排序
df.sort_values(by='B')

                   A         B         C         D
2018-11-04 -0.283314 -0.455867  0.930338  0.294843
2018-11-07  1.190136 -0.172966 -1.958245 -0.876356
2018-11-03  1.076412 -0.116761  0.961088 -0.109604
2018-11-05  0.924924  0.310615 -0.664699 -2.410030
2018-11-02 -0.210060  0.358103 -0.799528  0.821414
2018-11-01  1.119906  0.501445  0.658371 -1.919401
2018-11-06  1.133816  0.846917 -1.557681 -0.007972

                   A         B         C         D
2018-11-04 -0.283314 -0.455867  0.930338  0.294843
2018-11-07  1.190136 -0.172966 -1.958245 -0.876356
2018-11-03  1.076412 -0.116761  0.961088 -0.109604
2018-11-05  0.924924  0.310615 -0.664699 -2.410030
2018-11-02 -0.210060  0.358103 -0.799528  0.821414
2018-11-01  1.119906  0.501445  0.658371 -1.919401
2018-11-06  1.133816  0.846917 -1.557681 -0.007972