### pandas 处理文本数据

In [1]:
import pandas as pd
import numpy as np

####  常规的字符串操作

In [2]:
s = pd.Series(['A',"B","C","AaBa","Baca",np.nan,'dog','cat'])

In [5]:
s

0       A
1       B
2       C
3    AaBa
4    Baca
5     NaN
6     dog
7     cat
dtype: object

In [6]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6     dog
7     cat
dtype: object

In [7]:
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5     NaN
6     DOG
7     CAT
dtype: object

In [8]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
6    3.0
7    3.0
dtype: float64

In [9]:
idx = pd.Index([' jack','jill ',' jesse','frank'])

In [10]:
idx.str.strip() # 去掉左右两边的空白符

Index(['jack', 'jill', 'jesse', 'frank'], dtype='object')

In [12]:
idx.str.lstrip()  #  左去掉空白字符

Index(['jack', 'jill ', 'jesse', 'frank'], dtype='object')

In [13]:
idx.str.rstrip()  # 去掉右边的空白符

Index([' jack', 'jill', ' jesse', 'frank'], dtype='object')

In [14]:
df = pd.DataFrame(np.random.randn(3,2),columns=[' Column A ',' Column B '],index=range(3))

In [15]:
df

    Column A    Column B
0    0.145950   -1.216994
1   -0.481444    0.296285
2    1.441939    1.629410

In [16]:
df.columns.str.strip()

Index(['Column A', 'Column B'], dtype='object')

In [17]:
df.columns.str.lower()

Index([' column a ', ' column b '], dtype='object')

In [18]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ',"_")

In [19]:
df

   column_a  column_b
0  0.145950 -1.216994
1 -0.481444  0.296285
2  1.441939  1.629410

####  分割与替换字符

- 通过str转化之后的字符串可以使用split操作，返回一个包含列表的Series

In [21]:
s2 = pd.Series(['a_b_c',"c_D_e",np.nan,'f_g_H'])

In [22]:
s2.str.split("_")

0    [a, b, c]
1    [c, D, e]
2          NaN
3    [f, g, H]
dtype: object

In [25]:
s2.str.split('_')[1]

['c', 'D', 'e']

In [26]:
s2.str.split('_').str[1] # 切割之后的Series，通过str方法可以得到新的数据

0      b
1      D
2    NaN
3      g
dtype: object

In [27]:
s2.str.split('_').str.get(1)

0      b
1      D
2    NaN
3      g
dtype: object

In [28]:
s2.str.split('_',expand=True,n=1) # expand 参数，通过可以通过n确定延伸的次数

     0    1
0    a  b_c
1    c  D_e
2  NaN  NaN
3    f  g_H

In [29]:
s2.str.rsplit('_',expand=True,n=1) # rsplit 方法

     0    1
0  a_b    c
1  c_D    e
2  NaN  NaN
3  f_g    H